
h1{
    text-align: center;
    margin-top: 25px;
}


.form-group{
   text-align: center;
   margin-left: 30%;
   margin-top: 30px;
   border: solid 1px black;
   border-radius: 25px;
   box-sizing: border-box;
   padding: 35px;
   max-width: 40%;
}