

<div>
    
    <img id="img51"  src="\assets\background in about.jpg"> 
    <div id="icon7">
        <img id="img52" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSt1Ai7FfBRe_kD-07yHYZsf79ea9gOQ_fKlg&usqp=CAU">
        <h1>Coffee Destiny</h1>
    </div>

    
    <div id="text3">
        <p>cappuccino is a coffee drink that today is typically composed of a single, double, or triple espresso shot and hot milk, with the surface topped with foamed milk.Cappuccinos are most often prepared with an espresso machine. The espresso is poured into the bottom of the cup, followed by a similar amount of hot milk, which is prepared by heating and texturing the milk using the espresso machine steam wand. The top third of the drink consists of milk foam; this foam can be decorated with artistic drawings made with the same milk, called latte art.</p>
    </div>
  
        
</div>
