<div class="parent">

<div class="cappuccino34">
    <img  id="img34"src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c8/Cappuccino_at_Sightglass_Coffee.jpg/1280px-Cappuccino_at_Sightglass_Coffee.jpg"    height="550px" width="560px" class="img-fluid">
     <h2 >Cappuccino</h2>
     <span class="fa fa-star checked" style="color: gold; font-size: 30px; margin-left: 50px;"></span>
     <span class="fa fa-star checked" style="color: gold; font-size: 30px; margin-left: 15px;"></span>
     <span class="fa fa-star checked" style="color: gold; font-size: 30px; margin-left: 15px;"></span>
     <span class="fa fa-star checked" style="color: gold; font-size: 30px; margin-left: 15px;"></span>
     <span class="fa fa-star checked" style="color: gold; font-size: 30px; margin-left: 15px;"></span><br>
     <span class="bi bi-currency-rupee" style="color: red; font-size: 35px; margin-left: 30%;">129</span>

    </div>


    <div class="cappuccino35">
        <img  id="img35" src="https://img.freepik.com/free-photo/cup-coffee-with-heart-drawn-foam_1286-70.jpg?size=626&ext=jpg&ga=GA1.1.325371758.1697527640&semt=ais"  height="550px" width="560px" class="img-fluid">
         <h2 >Espresso</h2>
         <span class="fa fa-star checked" style="color: gold; font-size: 30px; margin-left: 50px;"></span>
         <span class="fa fa-star checked" style="color: gold; font-size: 30px; margin-left: 15px;"></span>
         <span class="fa fa-star checked" style="color: gold; font-size: 30px; margin-left: 15px;"></span>
         <span class="fa fa-star checked" style="color: gold; font-size: 30px; margin-left: 15px;"></span>
         <span class="fa fa-star checked" style="color: gold; font-size: 30px; margin-left: 15px;"></span>
         <span class="bi bi-currency-rupee" style="color: red; font-size: 35px; margin-left: 30%;">119</span>
        </div>


        <div class="cappuccino36">
        <img  id="img36" src="\assets\americano 1.jpg"  height="550px" width="560px" class="img-fluid">
         <h2 >Americano</h2>
         <span class="fa fa-star checked" style="color: gold; font-size: 30px; margin-left: 50px;"></span>
         <span class="fa fa-star checked" style="color: gold; font-size: 30px; margin-left: 15px;"></span>
         <span class="fa fa-star checked" style="color: gold; font-size: 30px; margin-left: 15px;"></span>
         <span class="fa fa-star checked" style="color: gold; font-size: 30px; margin-left: 15px;"></span>
         <span class="fa fa-star checked" style="color: gold; font-size: 30px; margin-left: 15px;"></span>
         <span class="bi bi-currency-rupee" style="color: red; font-size: 35px; margin-left: 30%;">109</span>   
        </div>

</div>
     