<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <li class="dropdown">
            <a class="nav-link-dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Coffee</a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="../menu/">Cappuccino</a></li>
                <li><a class="dropdown-item" href="../menu/">Espresso</a></li>
                <li><a class="dropdown-item" href="../menu/">Americano</a></li>
              </ul>
            </li>
        
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>



<div>
    <img src="https://shop.cafecoffeeday.com/media/banneruploader/tmp/banner_image_path/Main_banner_1_1_.jpg"class="img-fluid" span="Cappuccino">

  </div>

<div id="prd1" class="opacity-75">
    <h1>OUR PRODUCTS</h1>
     <img id="img3" src="https://shop.cafecoffeeday.com/media/wysiwyg/mugs_and_gifts_homepage_grey.png"> 
    <img  id="img4"    src="https://shop.cafecoffeeday.com/media/wysiwyg/coffee_and_tea_homepage_grey.png">
  </div>

<div>
  <img id="img7"    src="https://shop.cafecoffeeday.com/media/wysiwyg/Subscribe_and_save_1.jpg"class="img-fluid" >
</div>


