
<h2 style="font-size: 35px;"   class="h1-responsive font-weight-bold text-center my-4">Contact us</h2>
<div id="contact33">

<section class="mb-4">
    <p class="text-center w-responsive mx-auto mb-5">Do you have any questions? Please do not hesitate to contact us directly. Our team will come back to you within
        a matter of hours to help you.</p>

    <div class="row">

       
        <div class="col-md-9 mb-md-0 mb-5">
            <form #data="ngForm" (ngSubmit)="save(data)">

                
                <div class="row">

                  
                    <div class="col-md-6">
                        <div class="md-form mb-0">
                            <input type="text" id="namr" name="namef" class="form-control" placeholder="Name" ngModel >
                        </div>
                    </div>
                  
                    <div class="col-md-6">
                        <div class="md-form mb-0">
                            <input type="text" id="namr" name="emailf" class="form-control" placeholder="Email" ngModel><br><br>
                        </div>
                    </div>
                   

                </div>
               
                <div class="row">
                    <div class="col-md-12">
                        <div class="md-form mb-0">
                            <input type="text" id="namr" name="subjectf" class="form-control" placeholder="Subject" ngModel><br><br>
                        </div>
                    </div>
                </div>
                
                <div class="row">

                  
                    <div class="col-md-12">

                        <div class="md-form">
                            <textarea type="text" id="namr" name="messagef" rows="2" class="form-control md-textarea"  placeholder="Message" ngModel></textarea><br><br>
                        </div>

                    </div>
                </div>
                <div class="text-center text-md-left">
                 
            <div class="text-center text-md-left">
               <button class="btn btn-primary">Send</button>
            </div>
                </div>

            </form>

           
            
            <div class="status"></div>
        </div>
        
        <div class="col-md-3 text-center">
            <ul class="list-unstyled mb-0">
                <li><i class="fas fa-map-marker-alt fa-2x"></i>
                    <p>Aurangabad,Maharashtra 431001,India</p>
                </li>

                <li><i class="fas fa-phone mt-4 fa-2x"></i>
                    <p>+91 98 22 33 94 18</p>
                </li>

                <li><i class="fas fa-envelope mt-4 fa-2x"></i>
                    <p>@CoffeeDestiny.com <br><span> Sayyed Sohel</span></p>
                </li>
            </ul>
        </div>
        

    </div>

</section>

</div> 


<!-- <p>{{namef}} {{emailf}} {{subjectf}} {{messagef}}</p> -->
<!-- <p>{{message.message}}</p> -->



